body {
    background-color: yellow;
    text-align: center;

    }

li {
    color: #000000;
    font-size: 20px;
    padding: 9px;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    margin: 10px;
    border-style:solid;

    }

h2 {
    font-size: 35px;
    margin: 50px;
    border-style:solid;
    border-radius: 10px ;
    text-decoration: none;
    color: #000000
}

a {
    text-decoration: none;
    }

footer {
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px;
    margin: 2px;
    border-radius: 10px ;
}

svg {
    border-style:solid;
    border-radius: 500px;
   
}

img {
    border-style:solid;
    border-radius: 100px;
    
}